<ion-header>
    <ion-navbar color="primary" class="navbar" style="text-align: center">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <img [src]='images.logo' style="width: 40%">
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Solo/Team Name</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="UserData.teamname"></ion-input>  
      </ion-col>
    </ion-row>
  </ion-grid>

    
  <ion-row class="GreyBackground PreferedLocation">
      <ion-list class="willingtocome">
          <ion-label >Talent Category</ion-label>
          <ion-select multiple="false" cancelText="Cancel" okText="Done!">
              <ion-option *ngFor="let i of category" value="{{i.name}}">{{i.name}}</ion-option>
          </ion-select>  
      </ion-list>
      
      <ion-list class="willingtocome">
          <ion-label >Talent Type</ion-label>
          <ion-select multiple="false" cancelText="Cancel" okText="Done!">
              <ion-option  value="TalentTypeSolo">Solo</ion-option>
              <ion-option  value="TalentTypeGroup">Group</ion-option>
          </ion-select>  
      </ion-list>
      
      <ion-list class="willingtocome">
          <ion-label >Team Count</ion-label>
          <ion-input type="number" ></ion-input>
      </ion-list>
  </ion-row>

    <ion-row class="GreyBackground">
      <ion-list-header>
        <ion-label>About Performance:</ion-label>
      </ion-list-header>
      <ion-list class="AboutPerformance">
          <ion-textarea [(ngModel)]="UserData.description"></ion-textarea>  
      </ion-list>
    </ion-row>

  <ion-row class="GreyBackground">
    <ion-list-header>
      <ion-label>Willing to Attend:</ion-label>
    </ion-list-header>
    <ion-list *ngFor="let item of willingtoattend" class="willingtoattend">
        <ion-label>{{item.title}}</ion-label>
        <ion-checkbox (ionChange)="addCheckbox($event,item.value)" slot="end" [(ngModel)]="item.value"></ion-checkbox>  
    </ion-list>
  </ion-row>

  <ion-row class="GreyBackground PreferedLocation">
      <ion-list-header>
        <ion-label>Willing to Come:</ion-label>
      </ion-list-header>
      <ion-list *ngFor="let i of willingtocome" class="willingtocome">
          <ion-label>{{i.title}}</ion-label>
          <ion-checkbox (ionChange)="addCheckbox($event,i.value)" slot="end" [(ngModel)]="i.value"></ion-checkbox>
          <ion-select *ngIf="i.prefered" multiple="true" cancelText="Cancel" okText="Done!">
              <ion-option *ngFor="let location of i.prefered" value="{{location.title}}">{{location.title}}</ion-option>
          </ion-select>  
      </ion-list>
  </ion-row>

<button class="update" (click)="updateDetails()" >next</button>
</ion-content>
