page-businessprofile {
    .RadioCntainer ion-item {
        width: 50%;
    }.languages .text-input {
        margin-top: 0px;
        border-bottom: 1px solid;
    }button.update {
        padding: 1em;
        width: 100%;
        background: #db9a00;
        color: #fff;
        font-size: 16px;
        border-radius: 0.5em;
    }
}
